extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1
          | Mithra
          small &nbsp;find place to buy designer clothes
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href='/location') vintage
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 500m
          p.address 135 RD NO 5 banjarahills
          p
            span.label.label-warning masters
            | &nbsp;
            span.label.label-warning premium brands
            | &nbsp;
            span.label.label-warning clothes
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href='/location2') zarass
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 200m
          p.address 125 High Street, Reading, RG6 1PS
          p
            span.label.label-warning designer wear
            | &nbsp;
            span.label.label-warning foreign imports
            | &nbsp;
            span.label.label-warning masters
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href='/location3') aakruthi
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 250m
          p.address 125 High Street, Reading, RG6 1PS
          p
            span.label.label-warning premium brands 
            | &nbsp;
            span.label.label-warning designer wear
            | &nbsp;
    .col-xs-12.col-sm-4
      p.lead
        | looking for great clothes and masters u will always have your mithra