extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1
          | Mithra
          small &nbsp;find place to buy from farmers
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href='/location') Farm Friendly
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 500m
          p.address Miryalguda , Nalgonda
          p
            span.label.label-warning Direct from Farmers
            | &nbsp;
            span.label.label-warning organic
            | &nbsp;
            span.label.label-warning Top quality
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href='/location2') Farm Diary 
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 200m
          p.address Devarkonda,Nalgonda
          p
            span.label.label-warning Direct from Farmers
            | &nbsp;
            span.label.label-warning organic
            | &nbsp;
            span.label.label-warning Top quality
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href='/location3') Weavers Nest
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 250m
          p.address Pochampally , Nalgonda
          p
            span.label.label-warning Direct from Weavers 
            | &nbsp;
            span.label.label-warning Top quality
            | &nbsp;
    .col-xs-12.col-sm-4
      p.lead
        | looking for Organic Products from Farmers visit Raithu mithra